body{
  background-color: #F0FBFF;
}

.search-bar{
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #474747;
  border-radius: 2px;
  background-color: #fff;
}

.list-group-item{
  cursor: pointer;
}

.list-group-item:hover{
  background-color: #eee;
}

.selected{
  background-color: #eee;
}